* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-white: white;
    --background-dark: black;
    --text-white: white;
    --margin-bot: 30px;
}

body {
    background-color: var(--background-dark);
}

header{
    background-color: var(--background-white);
    margin-bottom: var(--margin-bot);
    display: flex;
    align-items: center;
}

.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: calc(100% - 250px);
    padding: 0 30px;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#difficolta{
    margin: 0 4px;
}

#btn{
    padding: 0px 15px;
}

img{
    padding: 10px;
    width: 50px;
}

h1 {
    font-size: 1.5em;

}

.container {
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100%/10);
    height: calc(100%/10);
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}


.boxLightBlue {
    background-color: rgb(87, 143, 216);
    color: black;
}

/* .clicked {
    background-color: aquamarine;
    color: black;
} */
