* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
     --text-white: #fff;
     --bg-white: #fff;
     --text-blue: rgb(1, 13, 44);
     --bg-color: rgb(1, 13, 44);
     --myx-2: 20px 0;
     --border-set:1px solid white;
}

body{
    background-color: var(--bg-color);
}

header{
    background-color: var(--bg-white);
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

h1{
    display: flex;
    color: var(--text-blue);
    font-size: 1.5em;
    margin-left: 30px;
}

.container{
    border: var(--border-set);
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
}

.box{
    display: flex;
    flex-wrap: wrap;
}

.gridselect{
   width: calc(100% / 10);
   height: 80px;
   border: 1px solid rgb(243, 243, 243);
    
}
